/*Main Styles of Sudoku Game by EduardoProfe666*/

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
#sudoku-grid {
    display: grid;
    grid-template-columns: repeat(9, 50px);
    grid-template-rows: repeat(9, 50px);
    gap: 2px;
    border: 4px solid #000;
}
.cell {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    font-size: 20px;
    background-color: #fff;
}
.cell.initial {
    font-weight: bold;
    background-color: #e0e0e0;
}
.cell:nth-child(3n) {
    border-right: 2px solid #000;
}
.cell:nth-child(n + 19):nth-child(-n + 27),
.cell:nth-child(n + 46):nth-child(-n + 54) {
    border-bottom: 2px solid #000;
}
#start-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
#start-button:hover {
    background-color: #45a049;
}
#auto-fill-button, #manual-fill-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-right: 10px;
}
#auto-fill-button:hover, #manual-fill-button:hover {
    background-color: #45a049;
}
#title {
    font-size: 24px;
    margin-bottom: 10px;
}
#message {
    font-size: 18px;
    margin-bottom: 20px;
}