/* --------------------------------------- Animations ------------------------------------------- */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes smallMove {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}



/* ---------------------------------------- Main Components Styles ------------------------------------ */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    padding: 15px;
}

#manual-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sudoku-grid, #manual-sudoku-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 4px;
    border: 4px solid #000;
    width: 90%;
    max-width: 500px;
    aspect-ratio: 1;
    box-shadow: 0 0 30px -10px #000;
    background-color: #fff;
    animation: fadeIn 1s;
}

.cell {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    font-size: 20px;
    background-color: #fff;
    transition: background-color 0.3s;
}

.cell.initial {
    font-weight: bold;
    background-color: #e0e0e0;
}

.cell:nth-child(3n) {
    border-right: 4px solid #000;
}

.cell:nth-child(n + 19):nth-child(-n + 27),
.cell:nth-child(n + 46):nth-child(-n + 54) {
    border-bottom: 4px solid #000;
}

.cell:hover {
    background-color: #f0f0f0;
}



/* ------------------------------------------------ Buttons Styles --------------------------------------- */
#button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#auto-fill-button, #manual-fill-button {
    margin: 0 10px;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#auto-fill-button {
    background-color: #4caf50;
    color: white;
}

#auto-fill-button:hover {
    background-color: #409144;
    transform: translateY(-2px);
}

#manual-fill-button {
    background-color: #ff9800;
    color: white;
}

#manual-fill-button:hover {
    background-color: #bd7400;
    transform: translateY(-2px);
}

#auto-fill-button i, #manual-fill-button i {
    margin-right: 10px;
}


/* ------------------------------------------- Other Components Styles ------------------------------------ */
#title-container {
    display: flex;
    align-items: center;
    margin-bottom: -10px;
    animation: fadeIn 1s;
}

#title {
    font-size: 36px;
    margin-right: 10px;
    color: #333;
    text-shadow: 2px 2px 4px #aaa;
}

#message {
    font-size: 24px;
    margin-bottom: 20px;
    color: #6e6e6e;
    text-shadow: 1px 1px 2px #aaa;
}

#timer {
    font-size: 24px;
    margin-bottom: 20px;
    display: none;
    color: #333;
    text-shadow: 1px 1px 2px #aaa;
}

#time-emoji {
    font-size: 30px;
}

#timer-display {
    color: #505050;
    font-weight: bold;
}

#hat {
    text-decoration: none;
    color: #333;
    font-size: 36px;
    position: relative;
    left: -5px;
    top: -3px;
    animation: pulse 1s infinite;
    transition: transform 0.3s;
}


/* ----------------------------------- Responsive Stuff (Media Queries) ----------------------------------- */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    #sudoku-grid, #manual-sudoku-grid {
        width: 95%;
    }

    #title {
        font-size: 28px;
    }

    #hat {
        font-size: 28px;
    }

    #auto-fill-button, #manual-fill-button {
        padding: 10px 20px;
        font-size: 16px;
    }

    #timer {
        font-size: 20px;
    }

    #time-emoji {
        font-size: 25px;
    }

    #message {
        font-size: 20px;
    }
}


